.nav {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    background: #2d353c;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav li {
    display: inline-flex;
    width: 100%;
}
.nav li a {
    text-decoration: none;
    padding: 12px 42px;
    float: left;
    line-height: 20px;
    color: #a8acb1;
    width: 100%;
    background: transparent;
}
.nav li a:hover, .nav li a:focus, nav li a:active, .nav li a:global(.active) {
    text-decoration: none;
    color: #fff;
    background: #232a2f;
}