.board {
    display: flex;
    position: relative;
    padding-left: 3rem;
    min-height: 477px;
}
.board:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
}
.board:after {
    position: absolute;
    top: 50%;
    left: -45px;
    content: attr(data-title);
    transform: rotate(90deg) translateY(-50%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.board_3 {
    background-color: #DCEDC8;
}
.board_1007 {
    background-color: #B3E5FC;
}
.board_10205{
    background-color: #FFE0B2;
}
.board_3:before {
    background-color: #8BC34A;
}
.board_1007:before {
    background-color: #03A9F4;
}
.board_10205:before {
    background-color: #FF9800;
}
.board_3:after {
    left: -83px;
}
.board_10205:after {
    left: -88px;
}
.user_box {
    display: flex;
    position: relative;
    margin: 2rem 1rem;
    flex-direction: column;
}
.user_box_heading {
    padding: 10px 15px !important;
    color: #fff;
    border-radius: 5px 5px 0 0;
    overflow-x: hidden;
    white-space: nowrap;
}
.board_3 .user_box_heading {
    background-color: #8BC34A;
}
.board_1007 .user_box_heading {
    background-color: #03A9F4;
}
.board_10205 .user_box_heading {
    background-color: #FF9800;
}
.issues {
    display: inline-flex;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    padding: 12px 0 12px 12px !important;
    box-sizing: border-box;
    justify-content: flex-start;
    height: 400px
}