.app {
    padding: 0 !important;
}
.background-login {
    background-size: cover;
    height: 100%;
    position: relative;
    background-image: url('../img/login.jpg');
}
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    padding: 30px 60px;
    color: #999;
}
.caption-title {
    color: #fff;
}
.login-form {
    padding: 30px !important;
    background: #fff;
}
.login-divider {
    margin: 2rem 0;
    border: 1px solid #ccd0d4;
}