.app {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}
.content {
    margin-left: -0.5rem;
}
.content > div {
    min-height: calc(100vh - 56px);
}
.menu {
    width: 200px;
}