.status {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    text-transform: uppercase;
}
.status_yellow {
    background-color: #ffd351;
    border-color: #ffd351;
}
.status_blue-gray {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff;
}