.header {
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.3);
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
}
.nav {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.nav li {
    display: flex;
}
.nav li a {
    text-decoration: none;
    padding: 18px 10px;
    float: left;
    line-height: 20px;
    color: #333;
    background: transparent;
}
.header-brand a, .header-nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    padding: 15px 20px 15px 0;
    float: left;
}
.nav li a:hover, .nav li a:focus, nav li a:active, .nav li a:global(.active) {
    text-decoration: none;
    color: #000;
}
.header-brand a:hover, .header-nav a:hover {
    text-decoration: none;
    color: #333;
}
.header-brand a:focus, .header-nav a:focus {
    text-decoration: none;
    color: #333;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 56px;
    right: -5px;
    list-style-type: none;
    background: #fff;
    border: none;
    border-top: 1px solid #eee;
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.4rem;
    padding: 5px 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dropdown-menu li a {
    width: 100%;
    padding: 8px 18px;
    cursor: pointer;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background: #ededed;
    color: #000;
}
.user {
    margin-left: 5px;
}