.main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.table {
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.3);
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    background: #fff;
    margin: 30px;
}
.table-header {
    margin: 30px 30px 0 !important;
}
.header {
    font-weight: bold;
}
.cell {
    padding: 15px !important;
    border: none;
    border-right: 1px solid #DDD;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}
.cell:focus {
    -webkit-box-shadow: inset 0 0 5px 0 #e5420b;
    box-shadow: 0 0 6px 0 #e5420b;
    z-index: 1;
}
.cell:first-of-type {
    text-align: left;
}
.cell:last-of-type {
    border-right: none;
}
.row {
    border: 1px solid #DDD;
    border-bottom: none;
}
.row:last-of-type {
    border-bottom: 1px solid #DDD;
}
.row-content {
    height: 100%;
}