.table {
        box-shadow: 0 0 2px rgba(0,0,0,.3);
        margin: 30px;
}
.header {
    font-weight: bold;
}
.cell {
    padding: 15px !important;
    border-right: 1px solid #DDD;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}
.cell:last-of-type {
    border-right: none;
}
.row {
    border: 1px solid #DDD;
    border-bottom: none;
}
.row:last-of-type {
    border-bottom: 1px solid #DDD;
}
.row-content {
    height: 100%;
}
.toolbar {
    margin: 30px;
}
.user {
    flex-direction: row !important;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}