.issue {
    padding: 5px;
    background: #F5F5F5;
    border: 1px solid #E0E0E0;
    color: #212121;
    border-radius: 3px;
    transition: ease-in-out .3s;
    order: 1500;
    margin-bottom: 10px;
    word-wrap: break-word;
    margin-right: 12px;
}
.issue:last-of-type {
    margin-bottom: 0;
}
.issue_red {
    background-color: #FFCDD2;
    border-color: #E57373;
    color: #B71C1C;
}
.issue_orange {
    background-color: #FFE0B2;
    border-color: #FFB74D;
    color: #E65100;
}
.issue_sky {
    background-color: #B3E5FC;
    border-color: #4FC3F7;
    color: #01579B;
}
.issue_purple {
    order: 2000;
    background-color: #CE93D8;
    border-color: #AB47BC;
    color: #4A148C;
}
.link {
    display: block;
    text-decoration: none;
    color: currentColor;
    position: relative;
    cursor: pointer;
}
.link:hover, .link:focus {
    text-decoration: none;
    color: inherit;
}
.title {
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0;
    font-family: inherit;
    line-height: initial;
}
.state {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    padding-top: 10px;
}
.board {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    color: #607D8B;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    max-width: 93px;
}
