.board {
}
.user_box {
    display: flex;
    position: relative;
    margin: 2rem 1rem;
    flex-direction: column;
}
.user_box_heading {
    padding: 10px 15px !important;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.board_3 .user_box_heading {
    background-color: #8BC34A;
}
.board_1007 .user_box_heading {
    background-color: #03A9F4;
}
.board_10205 .user_box_heading {
    background-color: #FF9800;
}
.issues {
    display: inline-flex;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    padding: 12px 0 12px 12px !important;
    box-sizing: border-box;
    justify-content: flex-start;
    height: 500px
}
.issues.full {
    height: calc(100vh - 135px);
}